<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DBConnection" value="Data Source=CYG378;Initial Catalog=MyTest;Integrated Security=True" />
    <add key="LogFilePath" value="D:\Dev\Personal\Projects\Design Pattern\DesignPattern\bin\Debug\LogFiles"/>
    <add key="ExceptionLogFilePath" value="D:\Dev\Personal\Projects\Design Pattern\DesignPattern\bin\Debug\LogFiles"/>
  </appSettings>
</configuration>